@using SimplyForum.Core.Models.PostReport
@model ICollection<PostReportModel>
@{
    ViewBag.Title = "All reports";
}

@if(Model.Any() && Model != null)
{
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div class="card mt-2 border-primary align-content-center">
            @foreach (var postReport in Model)
            {
                <div class="card-body">
                    @{
                        var base64 = Convert.ToBase64String(postReport.User.ProfilePicture);
                        var imgSrc = String.Format($"data:image/gif;base64,{base64}");
                    }
                    <img src="@imgSrc" class="rounded-circle" width="40" height="40" />
                    <h3>@postReport.User.UserName</h3>
                    <h4>@postReport.Type.ToString()</h4>
                    <p>
                        @postReport.Description
                    </p>
                    <button class="btn btn-primary" onclick="location.href='@Url.Action("Details","Post",new {postId = postReport.PostId})'">Details</button>
                    <button class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Report",new {postReportId = postReport.Id})'">Delete report</button>
                </div>
            }
            <div class="card-footer">
            </div>
        </div>
    </div>
}
else
{
    <h2 class="text-center">There are no reports yet!</h2>
    <hr />
}