@using SimplyForum.Core.Models.Community
@model IEnumerable<CommunityModel>

@{
    ViewBag.Title = "All communities";
}

@if (Model != null && Model.Any())
{
    <a asp-controller="Community" asp-action="Add" class="btn btn-primary position-absolute top-20 end-10">Add community</a>
    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
    <ol class="list-group">

        @foreach (var community in Model)
        {
            <li class="list-group-item">
                @{
                    var base64 = Convert.ToBase64String(community.CommunityImage!);
                    var imgSrc = String.Format($"data:image/gif;base64,{base64}");
                }
                <img src="@imgSrc" class="rounded-circle" width="40" height="40" />
                <h1>@community.Name</h1>  
                <h3>@community.CategoryType</h3>
                <form class="input-group-sm" asp-route-communityId="@community.Id" asp-controller="Community" asp-action="Details" method="post">
                    <input type="submit" value="Details" class="fs-6 btn btn-primary mb-3 p-2" />
                </form>
            </li>
        }
    </ol>
}
else{
    <h2 class="text-center">There are no communities yet!</h2>
    <hr />
}


